.head-balimore-logo {
    margin-bottom: -30px !important;
}

.head-balimore-logo.desktop {
    margin-left: -15px !important;
    margin-bottom: 40px !important;
}

.detail .section-1 .arrow-nav-wrapper {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) ;
}

.detail .table-nav .nav-tabs .nav-item .nav-link {
    background: #FF8000 !important;
    color: #fff !important;
}

.detail .table-nav .nav-tabs .nav-item .nav-link.active {
    background: #fff !important;
    color: #FF8000 !important;
}

.tab-pane h4 {
    font-weight: 700;
}

.dealer .card-list .card .img-card {
    background-position: center !important;
}


.dealer .swiper-container {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.dealer .swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    padding-top: 56%;
    width: 100%;
}

.account-setting .form-group  {
    max-width: 300px;
}


#modalSearchClick .modal-content{
    background: #fff !important;
    /* -webkit-backdrop-filter: blur(0px) !important;
    backdrop-filter: blur(0px) !important; */
}

.home #modalSearchClick .modal-header .icon-close {
    background-color: #555;
    border-radius: 50px;
    padding: 5px ;
    box-shadow: -2px 5px 10px rgba(34, 34, 34, 0.24);
}

.detail .table-nav .nav-tabs .nav-item .nav-link {
    border: 2px solid #fff !important;
}

.detail .table-nav .nav-tabs .nav-item:last-child .nav-link {
    padding-bottom: 20px !important;
}

.tenor-list  {
    border-bottom: 1px solid #ddd;
}

.modal-open {
    height: 100vh;
}

.col-form {
    padding-left: 90px !important;
}

.close-modal {
    z-index: 2005;
}

@media screen and (min-width: 1800px) {
    .col-form {
        padding-left: 140px !important;
    }
}

.balimor-home-logo {
    display: block;
    position: absolute;
    top: 10px;
}

.balimor-home-logo img {
    width: 150px;
}

.form-select-wrapper {
    max-width: 468px !important;
}

/* .item-dealer .modal-backdrop.show {
    display: none !important;
} */

.mt-45 {
    margin-top: 45px !important;
}

.dealer .jumbotron .row-jumbotron .box-1 {
    position: absolute;
    top: 100px;
    left: 0px;
}

@media screen and (max-width: 1200px) {
    .head-balimore-logo.desktop {
        display: none !important;
    }
    .head-balimore-logo.mobile {
        display: block !important;
    }
    .balimor-home-logo {
        display: none !important;
    }
    .col-form {
        padding-left: 20px !important;
    }
}

@media screen and (max-width: 1024px) {
    .detail .table-nav .nav-tabs .nav-item .nav-link  {
        margin-top: -20px;
        padding-bottom: 35px !important;
    }
}

@media screen and (max-width: 1300px) {
    .cs-number-desktop {
        display: none !important;
    }
    .cs-number-mobile {
        display: block !important;
    }
}


@media screen and (max-width: 768px) {
    .table-desktop {
        display: none !important;
    }
    .table-mobile {
        border: 1px solid #ddd;
        border-radius: 10px;
        display: block !important;
        max-height: 250px;
        margin-top: 20px;
        overflow: auto;
    }
    .table-mobile .tenor-list {
        margin-top: 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 1200px) and (max-height: 900px) {
    .dealer .jumbotron .row-jumbotron {
        margin-top: 150px !important;
    }
}